*{margin: 0;padding: 0;}
			.nav{margin:auto;position:fixed;left:0;top:0;right:0;height:30px;background-color: white;width:100%;}
			.nav .box{width:50px;height:30px;margin:0 auto;display: flex; flex-flow: row wrap; justify-content: space-around;}
			.box a{height: 15px;width: 15px;display: block;float:left;margin:5px;cursor: pointer;}
			.btn-list-off{background: #fff url(../img/btn.png) no-repeat -15px -32px }
			.btn-grid-on{background: #fff url(../img/btn.png) no-repeat -43px -9px }
			.btn-list-on{background: #fff url(../img/btn.png) no-repeat -15px -9px }
			.btn-grid-off{background: #fff url(../img/btn.png) no-repeat -43px -32px }
			.pic{width:80%;margin:0 auto;display: flex; flex-flow: row wrap; justify-content: space-around;}
			.photoLine{height:400px;width:600px;display: block;margin:10px auto 20px;}
			.photoGrid{display: block;width:300px;height:300px;margin:10px;}
			@media only screen and (min-width: 2000px) {
				.photoGrid{width:500px;height:500px}
				.photoLine{width:1400px;height:1000px}
				.nav{height: 80px;}
				.nav .box{width:200px;height:80px;}
				.box a{transform: scale(2,2);
			-webkit-transform: scale(2,2);margin: 30px;}
			}
			@media only screen and (min-width: 1600px)and (max-width: 2000px) {
				.photoGrid{width:400px;height:400px}
				.photoLine{width:1000px;height:800px}
				.nav{height: 60px;}
				.nav .box{width:150px;height:60px;}
				.box a{transform: scale(1.5,1.5);
				-webkit-transform: scale(1.5,1.5);margin: 20px;}
			}
			@media only screen and (max-width: 800px) {
				.photoGrid{width:150px;height:150px}
			}
			@media only screen and (max-width: 600px) {
				.photoGrid{width:100px;height:100px}
				.photoLine{width:300px;height:200px}
			}
